
SOMA_RL/data/pain_learning_processed.csv
SOMA_RL/testing_fit.py
/SOMA_RL/plots
SOMA_RL/data/pain_transfer_processed.csv
SOMA_RL/data/fits

/SOMA_RL/data
/SOMA_RL/fits
/SOMA_RL/reports
/SOMA_RL/stats
/SOMA_RL/other model results
